@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 982px;
// ※キュンパス幅ではなくインナーの幅を指す

// 767px以下で、画面が広がりすぎないように調整
$max-width:530px;


// 余白
$padding-pc: 20px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "";
$second-font-family: "";
// ※検証ツールでしっかり反映されているか確認する


a {
	-webkit-transition: opacity 0.3s;
	color: inherit;
	text-decoration: none;
	transition: opacity 0.3s;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #333333;
$white: #fff;
$skyblue:#3BA6C9;


body {
  font-family: $base-font-family;
  color: $black;
}

// フォントウェイト
$regular: 300;
$normal: 400;
$bold: 700;

:root {
    --header: 6rem;
    scroll-padding-top: calc(var(--header) + 1rem); /* 特定のセクションに適用する値 */

  }
