@use "global" as *;

.blog-card{
	display: flex;
    flex-direction: column;
    height: 100%;
	box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
}

.blog-card__img img {
	aspect-ratio: 335/225;
	width: 100%;
	height: 100%;
	object-fit: cover;
	@include mq(md){
		aspect-ratio: 389/260;	
	}
}

.blog-card__body{
	display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: $white;
	padding:rem(14) rem(18) rem(10);
}

.blog-card__text{
	font-size: rem(18);
    font-weight: $bold;
    line-height: calc(26/18);
	flex-grow: 1;
}

.blog-card__data {
    display: block;
    text-align: right;
	font-size: rem(16);
    font-weight: $bold;
    line-height: calc(26/16);
    margin-top: rem(30);
}