@use "global" as *;

.button{
    display: inline-block;
    text-align: center;
    width: rem(155);
    padding: rem(8.5) 0;
    background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    color: $white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    font-size: rem(14);
    font-weight: $bold;
    line-height: calc(20/14);
}