@use "global" as *;

.footer{
    text-align: center;
    background-color: #F8F8F8;
    padding: rem(44) 0 rem(50);
}

.footer__title{
    font-size: rem(24);
    line-height: calc(28/24);
    font-weight: $bold;
}

.footer__subtitle{
    margin-top: rem(30);
    @include mq(md){
        margin-top: rem(20);
        display: flex;
        justify-content: center;
        gap: 0 rem(30);
    }  
}

.footer__subtitle p{
    font-size: rem(16);
    line-height: calc(28/16);
    font-weight: $bold;
}

.footer__copyright{
    margin-top: rem(52);
}

.footer__copyright small{
    font-size: rem(14);
    line-height: calc(20/14);
    font-weight: $regular;
}