@use "global" as *;


.sp-nav{
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    width: 50%;
    height: 100vh;
    z-index: 8888;
    transform: translateX(-100%);
    transition: ease .3s;
    box-shadow: 0px 3px 6px #00000029;
    @include mq(md){
        display: none;
    }
}

.header__sp-nav.is-open{
    transform: translateX(0);
}

.sp-nav__body{
    width: 100%;
    min-height: rem(500);
}

.sp-nav__items + .sp-nav__items{
    margin-top: rem(16);
}

.sp-nav__item a{
    display: inline-block;
    width: 100%;
    color: $black;
    padding-top: rem(24);
    padding-bottom: rem(24);
    padding-left: rem(22);
    font-size: rem(16);
    font-weight: $bold;
    line-height: calc(18/16);
}
